@model Projeto_Final.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Utilizar outro serviço para iniciar sessão.</h4>
<hr />
@{
    var LoginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (LoginProviders.Count() == 0)
    {
        <div>
            <p>
                Não existem serviços de autenticação externa configurados. Veja <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artigo</a>
                para obter detalhes sobre como configurar esta aplicação ASP.NET para suportar o Home de sessão através de serviços externos.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in LoginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}